<div class="window anime">
    <div class="main-img">
        <img src="{{anime.img_anime}}" alt="Foto_anime">
        <div class="anime-title link-anima">
            <h2><a href="/anime/{{ anime.id }}/">{{ anime.nome_anime }}</a></h2>                    
        </div>
    </div>
    <div class="anime-info">
        <div class="author-info">
            <div class="link-anima">
                <i class="fa-solid fa-user"> </i>
                {%if anime.author.first_name %}
                    <a href="#">{{ anime.author.first_name }} {{ anime.author.last_name }}</a>
                {% else %}
                    <a href="#">{{ anime.author.username }}</a>
                {% endif %}
            </div>
            <div>
                <i class="fa-solid fa-calendar-days"> </i>
                <span>{{anime.data_criacao|date:"d/m/Y"}}</span>
            </div>
        </div>
        {%if is_resume_page is not True%}
            <ul class="text-color">
                <li class="link-anima">Gênero: <a href="{% url "animes:genero" anime.genero_id %}">{{anime.genero}}</a></li>
                <li>Episódios: {{anime.episodios}}</li>
            </ul>
        {%endif%}
        {%if is_resume_page is True%}
            <div class="resumeanime">
                {{anime.resumo}}
            </div>
        {%endif%}
    </div>
</div>
