<div class="window anime">
    <div class="main-img">
        <img src="https://placehold.co/600x400.png" alt="Temporário">
        <div class="anime-title link-anima">
            <h2><a href="/anime/1/">Nome do anime</a></h2>                    
        </div>
    </div>
    <div class="anime-info">
        <div class="author-info">
            <div class="link-anima">
                <i class="fa-solid fa-user"> </i>
                <a href="#">Usuário</a>
            </div>
            <div>
                <i class="fa-solid fa-calendar-days"> </i>
                <span>##/##/####</span>
            </div>
        </div>
        <ul class="text-color">
            <li class="link-anima">Categoria: <a href="#">Romance</a></li>
            <li>Episódios: **</li>
        </ul>
    </div>
</div>