<header class="header-content-conteiner">
    <div class="header-content" >
        <div style="a {color: white}">
            <a href="{% url 'animes:create' %}">Criar anime</a>
        </div>
        <h1 class="heading">
            <i class="fa-solid fa-fire-flame-curved heading"></i>
            <span class='link-anima'>
                <a href="/">Fire animes</a>
            </span>
        </h1>
        <form action="" class="search-form width-form">
            <input type="search" class="search-input">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>    
    </div>
</header>