
    {% include 'animes/partials/head.html' %}
    <body>
        {% include 'animes/partials/header.html' %}
        <main class="main-content-section">
            <div class="grid-container">
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}
                {% include 'animes/partials/anime-window.html' %}

            </div>              
        </main>
        {%include 'animes/partials/footer.html'%}
        
    </body>
</html>